<h2 class="heading h-section text-center lrg-heading-grp" data-barley="cmpnt_hiw_heading" data-barley-editor="simple">
 How it works
</h2>
<div class="row drk-desc-grp">
 <section class="hiw col-sm-4">
  <div class="thumb" data-barley="cmpnt_hiw_step1_img" data-barley-editor="image" data-width="249" data-height="249">
   <img src="{{ 'images/hiw-1.png' | asset_url }}" alt class="img-responsive circle-crop">
   </img>
  </div>
  <h4 class="heading strong sm-heading-grp" data-barley="cmpnt_hiw_step1_heading" data-barley-editor="simple">
   1. Select your preferences
  </h4>
  <p data-barley="cmpnt_hiw_step1_description" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
   Choose the genre you're most interested in and the length of your subscription.
  </p>
 </section>
 <section class="hiw col-sm-4">
  <div class="thumb" data-barley="cmpnt_hiw_step2_img" data-barley-editor="image" data-width="249" data-height="249">
   <img src="{{ 'images/hiw-2.png' | asset_url }}" alt class="img-responsive circle-crop">
   </img>
  </div>
  <h4 class="heading strong sm-heading-grp barley_hide_outline" data-barley="cmpnt_hiw_step2_heading" data-barley-editor="simple" contenteditable="false">
   2. We curate your book.
  </h4>
  <p data-barley="cmpnt_hiw_step2_description" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
   We'll send you a book matching your genre preference selected by one of our book lovers!
  </p>
 </section>
 <section class="hiw col-sm-4">
  <div class="thumb" data-barley="cmpnt_hiw_step3_img" data-barley-editor="image" data-width="249" data-height="249">
   <img src="{{ 'images/hiw-3.png' | asset_url }}" alt class="img-responsive circle-crop">
   </img>
  </div>
  <h4 class="heading strong sm-heading-grp barley_hide_outline" data-barley="cmpnt_hiw_step3_heading" data-barley-editor="simple" contenteditable="false">
   3. Enjoy!
  </h4>
  <p data-barley="cmpnt_hiw_step3_description" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
   Best served with wine and pizza - if you're into that sort of thing.
  </p>
 </section>
</div>
<div class="row row-centered">
 <div class="col-xs-12 col-centered">
  <a type="button" href="/subscribe" class="btn btn-success lt-btn-grp" data-barley="cmpnt_hiw_button" data-barley-editor="link">
   get started
  </a>
 </div>
</div>
